<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Flight Booking API Suite" verbose="1" >
  <test name="PassengerService Tests">
    <classes>
      <class name="tests.AuthTests"/>
      <class name="tests.AddPassengerTest"/>
      <class name="tests.ViewPassengerTests"/>
      <class name="tests.DeletePassengerTest"/>
    </classes>
  </test>
</suite>
